<!doctype html>
<html>
<head>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="/client/static/js/d3-lasso.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
	<script src="jquery-3.6.0.min.js"></script>
	<script>
		var token = "{{token}}";
		var dataGlobal = [];
	</script>

	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width'>

	<title>Cluster Explorer</title>

	<!-- <link rel='icon' type='image/png' href='/favicon.png'> -->
	<link rel='stylesheet' href='/client/static/css/global.css'>
  <link rel="stylesheet" href="/client/static/css/bundle.css">

	<script defer src='/client/static/js/bundle.js'></script>
</head>

<body>
</body>
</html>
